<% if(isPostList && post.top){ %>
  <div class="new-meta-item top-post">
    <a class='notlink'>
      <i class="fas fa-angle-double-up" aria-hidden="true" style="color: #FF0000;"></i>
      <p style="color: #FF0000;"><%- post.top != true ? post.top : __('post.top') %></p>
    </a>
  </div>
<% } %>
